//logedpagepage.pug

doctype html
html
    head
        title="Google"
        style
            include ../css/style.css
    body
        h1.main-heading Udało Ci się zalogować do Googla
        img.image(src='https://cdn.images.dailystar.co.uk/dynamic/23/photos/317000/620x/google-s-hidden-retro-games-554855.jpg')